.title-input,
.body-input,
.source-input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--clr-almost-white);
    background-color: var(--clr-almost-white);
    color: var(--clr-almost-black);
    font-family: inherit;
    border-radius: 0.5rem;
}

/* .title-input {
    border: 1px solid #ccc;
}

.body-input {
    border: 1px solid #ccc;
}

.source-input {
    border: 1px solid #ccc;
} */
