/* .title-input,
.body-input,
.source-input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--clr-almost-white);
    background-color: var(--clr-almost-white);
    color: var(--clr-almost-black);
    font-family: inherit;
    border-radius: 0.5rem;
}

.input-error {
    color: var(--clr-alert);
    border: 1px solid var(--clr-alert);
} */
