button {
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    padding: 0.35rem 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: inherit;
    background-color: var(--clr-almost-white);
    color: var(--clr-almost-black);
    transition: border-color 0.25s;
    border: 1px solid var(--clr-almost-black);
    cursor: pointer;
}
button:hover {
    color: var(--clr-almost-white);
    background-color: var(--clr-almost-black);
    border-color: var(--clr-almost-white);
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.header {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-bottom: 1px solid var(--clr-almost-white);
}

.header_title {
    margin: 0 auto;
    padding: 0;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: right;
}

.header_title h1 {
    padding-top: 1rem;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    color: var(--clr-almost-white);
    margin: 0;
}

.header_title a {
    margin: 0;
    text-align: right;
    font-size: 1rem;
    font-style: italic;
    color: inherit;
}

.header_title a:hover {
    color: var(--clr-enter);
    text-decoration: underline;
    cursor: pointer;
}

.header_date {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    font-style: italic;
    color: var(--clr-almost-white);
}

/* .recycle-bin-list li {
    text-align: left;
}

.blog-articles-list li {
    text-align: left;
} */

.form-new-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.list-blog-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.blog-article {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--clr-almost-white);
    background-color: var(--clr-almost-white);
    color: var(--clr-almost-black);
    border-radius: 0.5rem;
    width: 100%;
}

.blog-article_source {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-style: italic;
    line-height: 0.5rem;
}

.footer {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-top: 1px solid var(--clr-almost-white);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 1rem;
}
