:root {
    --clr-almost-white: #f5f5f5;
    --clr-almost-black: #333333;
    --clr-gray: #6c757d;
    --clr-light-gray: lightgray;
    --clr-enter: #007bff;
    --clr-success: #28a745;
    --clr-alert: #dc3545;
}

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: inherit;
    background-repeat: no-repeat;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--clr-almost-white);
    background-color: var(--clr-almost-black);
}

#root {
    margin: 0 auto;
    /* min-height: 100svh; */
    max-width: 540px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* gap: 1rem; */
    /* padding: 1rem; */
    /* border: 1px solid var(--clr-almost-white); */
    border-radius: 0.5rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2rem;
    /* color: var(--clr-almost-white); */
}

p {
    /* margin: 0.5rem 0; */
    font-size: 1rem;
    font-weight: 400;
    /* color: var(--clr-almost-white); */
}
